CRYPTO_EXCHANGE=MEXC

MEXC_API_KEY=
MEXC_SECRET_KEY=
MEXC_TRADING_MODE=live_futures
MEXC_FUTURES_BASE_URL=https://api.mexc.com

BITGET_API_KEY=
BITGET_SECRET_KEY=
BITGET_PASSPHRASE=
BITGET_TRADING_MODE=live_futures
